### Custom Settings
!gradle/wrapper/gradle-wrapper.jar
.gradle
*.log
log/
*.DS_Store
*.class
.settings/
classes

# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


logs
out
override.props
bin
target