### Custom Settings
!gradle/wrapper/gradle-wrapper.jar
.gradle
*.log
log/
*.DS_Store
*.class
.settings/
classes
.project
*/*.project
*/*.classpath

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


logs
out
override.props
bin
target